<style>
.footer {
    background-color: #2f4f46; /* เขียวเข้ม */
    color: white;
    padding: 40px 80px;
    display: flex;
    justify-content: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    gap: 40px;
}

.footer-left {
    flex: 2;
}

.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.footer-logo img {
    width: 50px;
    margin-right: 10px;
}

.footer-logo span {
    font-size: 20px;
    font-weight: bold;
}

.footer-left p {
    margin: 5px 0;
    font-size: 14px;
}

.footer-social {
    margin-top: 15px;
}

.footer-social a {
    color: white;
    margin-right: 15px;
    font-size: 20px;
    transition: color 0.3s;
}

.footer-column {
    flex: 1;
}


.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin: 8px 0;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

</style>
<footer class="footer">
  <div class="footer-container">

    <div class="footer-left">
      <div class="footer-logo">
        <img src="../static/logo.jpg" alt="ASCENDER Logo">
        <span>ASCENDER</span>
      </div>
      <p>
        388 อาคาร เอ็กซ์เชนจ์ทาวเวอร์ ชั้น 29 ยูนิต 2901-2904<br>
        ถนน สุขุมวิท แขวงคลองเตย จังหวัด กรุงเทพมหานคร รหัสไปรษณี 10110<br>
      </p>
      <p>โทรศัพท์ : 062-732-5912</p>
      <p>email : hrherboloid@gmail.com</p>
      <div class="footer-social">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
      </div>
    </div>

    <!-- Company -->
    <div class="footer-column">
      <h4>Company</h4>
      <ul>
        <li><a href="#">หน้าหลัก</a></li>
        <li><a href="#">ข่าวประชาสัมพันธ์</a></li>
        <li><a href="#">เกี่ยวกับเรา</a></li>
        <li><a href="#">ติดต่อ</a></li>
      </ul>
    </div>

    <!-- Our Class -->
    <div class="footer-column">
      <h4>Our Class</h4>
      <ul>
        <li><a href="#">สมัครงานสำหรับพนักงาน </a></li>
        <li><a href="#">สมัครฝึกงานสำหรับนักศึกษา</a></li>
      </ul>
    </div>
  </div>
</footer>